body {
  background-color: pink;
  color: blueviolet;
  font-family: "Caveat", cursive;
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
}

.btn.disabled {
  color: rgb(175, 175, 175);
  border-color: rgb(175, 175, 175);
}